:root {
    --azul-OP: rgba(0, 178, 239, 255);
    --white-generic: white;
    --yellow-OP: rgba(248, 216, 104, 255);
}


* {
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/*Cabeçalho & Menu*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--azul-OP);
    color: white;
    height: 120px;
}

header h1 {
    font-size: 3em;
    width: 20%;
    margin-left: 5%;
}

header ul {
    display: flex;
}

header ul li {
    margin: 0 1em;
    font-size: 1.1em;
}

header ul li a {
    color: white;
}

header ul li a:hover {
    transition: 0.9s;
    color: var(--yellow-OP);
}

header img {
    height: 100%;
    margin-left: 5em;
}


/*Introd*/

main{
    margin-bottom: 4em;
}

main #intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

main #intro .container {
    width: 40%;
    margin-right: 5em;
    text-align: center;
}

main #intro .container h1 {
    color: var(--azul-OP);
    font-size: 3em;
}

main #intro .container p {
    text-align: center;
    font-size: 1em;
    text-indent: 2em;
    margin: 2em 0;
    line-height: 1.5em;
}

main #intro .container button {
    background-color: var(--azul-OP);
    font-size: 18px;
    font-weight: 700;
    color: var(--white-generic);

    padding: 10px;
    border-radius: 10px;
    margin-top: 2em;
    cursor: pointer;
}

main #intro .container button:hover {
    transition: 0.9s;
    color: var(--yellow-OP);
}

main #luffyImg img {
    height:100%;
    width:100%;
    border-radius: 10px;
    border: 4px solid transparent;
    animation: colors 4s infinite;
}

/*Habilidades*/

main #skills {
    margin-top: 4em;
    margin-bottom: 4em;
}

main #skills .skillsTitle {
    height: 8vh;
    background-color: var(--azul-OP);

    display: flex;
    align-items: center;
    justify-content: center;
}

main #skills .skillsTitle h2 {
    color: var(--white-generic);
    font-size: 2.5em;
    font-weight: 700;
}

main #skills .content-skills {
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
}

main #skills .content-skills .skills {
    text-align: center;
}


main #skills .content-skills .skills p {
    font-size: 1.2rem;
    color: var(--azul-OP);
    font-weight: 600;
    margin-bottom: 0.5em;
}

main #skills .content-skills .skills img {
    width: 90%;
    border-radius: 10px;
    border: 4px solid transparent;
    animation: colors 4s infinite; /* propriedade do Keyframe*/
}

/*Tripulação*/

main #crewmates {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
}

main #crewmates .content-crew {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 4em; 
}

main #crewmates .crewTitle h2 {
    font-size: 2.5em;
    color: var(--white-generic);
    font-weight: 600;
}

main #crewmates .crewTitle {
    height: 8vh;
    background-color: var(--azul-OP);

    display: flex;
    align-items: center;
    justify-content: center;
}

main #crewmates .content-crew .crew img {
    border-radius: 10px;
    border: 4px solid transparent;
    animation: colors 4s infinite; /* propriedade do Keyframe*/
}

main #crewmates .content-crew .crew p {
    font-size: 1rem;
    color: var(--azul-OP);
    font-weight: 600;
    margin-bottom: 2em;
    margin-top: 0.3rem;
}

/*Conquistas*/

main #conquistas {
    text-align: center;
    margin-bottom: 2em
}

main #conquistas .conquistasTitle{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul-OP);
    height: 8vh;
    margin-bottom: 4em;
}

main #conquistas .conquistasTitle h2 {
    font-size: 2.5em;
    color: var(--white-generic);
    font-weight: 600;
}

main #conquistas .content-conquistas {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    row-gap: 2em;
}

main #conquistas .content-conquistas .conquer img {
    border-radius: 10px;
    border: 4px solid transparent;
    animation: colors 4s infinite; /* propriedade do Keyframe*/
}

main #conquistas .content-conquistas .conquer .title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: var(--azul-OP);
    font-weight: 600;
}

main #conquistas .content-conquistas .conquer p {
    font-size: 1rem;
    margin-top: 0.5em;
}

/*Rodapé*/

footer{
    display:flex;
    justify-content: space-between;
    text-align: center;
    height: 200px;
    color: var(--white-generic);
    background-color: var(--azul-OP);
    padding: 0 2em 0 2em;
}

footer #rodapePic{
    padding-top: 1em;
}

footer #rodapePic img{
    height: 100%;
}

footer #rodapeMsg{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    font-size: 3em;
}

footer #owner{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1em;
}

/* Keyframes para as bordas */


@keyframes colors {
    0% {
      border-color: #D9D604;
    }
  
    25% {
      border-color: #7D2526;
    }
  
    50% {
      border-color: #B30B0C;
    }
  
    75% {
      border-color: #5A9DC7;
    }
  
    100% {
      border-color: #0283D4 ;
    }
  }

  @media only screen and (max-width: 400px) {
    main #conquistas .content-conquistas .conquer img {
      width: 10rem;
    }

    main #conquistas .content-conquistas .conquer .title {
        font-size: 0.8rem;
    }

    main #conquistas .content-conquistas .conquer p {
        font-size: 0.7rem;
    }

    main #crewmates .content-crew .crew img {
        width: 7rem;
    }

    footer{
        padding: 0;
    }

    footer #rodapePic img{
        width: 5rem;
        height:auto;
        padding-left: 2rem;
    }

    footer #rodapeMsg{
        font-size: 1.2rem;
        margin-left: 0.1rem;
        direction: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer #owner{
        direction: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 0.6rem;
    }
  }